
/* tr{
    border: 1px solid black;
} */
td{
    padding: 5px 15px;
}
.nameSection{
    display: flex;
}
.select{
    margin-right: 30px;
}
.actions{
    display: flex;
}
#name:focus{
    outline: none;
}
.changeBackGround{
    background-color: rgb(234, 234, 234);
}
